<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funkenlight</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/cabin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lato.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>


    <!-- custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" media="screen" rel="stylesheet">

<style type="text/css">
.container {
    display: flex-inline;
    width: 90%;
    text-align: center;
}

#notifier {
    opacity: 0;
    width: 100%;
    text-align: center;
}
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<script type="text/javascript">
    function cb(name, code, target) {
        console.log('in callback')
        msg = "Switched " + target + " " + name + " (code " + code + " )"
        $('#notifier').fadeTo('fast', 1);
        $('#notifier').text(msg).fadeTo( 3000, 0 );
    }

</script>

 <!-- <div class="container"> -->
    <div class="container">

    <h1 class="logo"><i class="fa fa-lightbulb-o bulb"></i></h1>
    <h1 class="logo">Funkenlights</h1>

      <div class="starter-template">

        <div id="notifier" class="alert alert-info" role="alert">
          This is a info alert—check it out!
        </div>

        <h4>Living Room</h4>
        <button type="button" id="foo" class="success btn btn-success btn-md" >ON</button>
        <button type="button"  class="danger btn btn-danger btn-md"">OFF</button>

        <h4>Dining Room</h4>
        <button type="button" id="foo" class="success btn btn-success btn-md" >ON</button>
        <button type="button" class="danger btn btn-danger btn-md" onclick="cb('Dining Room', 123, 'off')">OFF</button>



      </div>

    </div><!-- /.container -->

    <script type="text/javascript">
    $(function () {

      $('#foo').click(function (event) {
        console.log('button callback');
        $.ajax({
            type:'POST',
            url:"/send",
            // data:{},
            success:function(data){
                console.log('foo')
            },
            error: function(xhr, textStatus, error){
                console.log(xhr);
                console.log(textStatus);
                console.log(error);
            },
            // dataType:"json"
        });
      // event.preventDefault();

      });
    });
</script>
</body>
</html>