<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funkenlights</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/cabin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lato.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>


    <!-- custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" media="screen" rel="stylesheet">

<style type="text/css">
.container {
    display: flex-inline;
    width: 90%;
    text-align: center;
}

#notifier {
    opacity: 0;
    width: 100%;
    text-align: center;
}
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<script type="text/javascript">
    function cb(name, code, target) {
         $.ajax({
            type:'POST',
            url:"/send",
            data: {"code" : code},
            success:function(data){

                msg = "Switched " + target + " " + name + " ("
                msg = msg + " Returned: " + data.res + " )"
                $('#notifier').fadeTo('fast', 1);
                $('#notifier').text(msg).fadeTo( 3000, 0 );
            },
            error: function(xhr, textStatus, error){
                console.log(error);
            }
        });
    }

</script>

 <!-- <div class="container"> -->
    <div class="container">

    <h1 class="logo"><i class="fa fa-lightbulb-o bulb"></i></h1>
    <h1 class="logo">Funkenlights</h1>

      <div class="starter-template">

        <div id="notifier" class="alert alert-info" role="alert"></div>

        {% for dev in devices %}
            <h4>{{ dev.name}}</h4>
                <button type="button" class="success btn btn-success btn-md" onclick="cb('{{dev.name}}', '{{dev.on}}', 'on')">ON</button>
                <button type="button" class="danger btn btn-danger btn-md" onclick="cb('{{dev.name}}', '{{dev.off}}', 'off')">OFF</button>
        {% endfor %}


      </div>

    </div><!-- /.container -->

</body>
</html>