html,body{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    background: #D2D3D7;
}


.bulb {font-size:150px;
    /*display: block;*/
    padding-bottom: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0px #737373, 2px 2px 0px #737373;
}

h4 {
    padding-top: 10px;
    color: rgb(121,121,121);
}
.logo{
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.center{
    text-align: center;
}


.lead{
    text-align:center;
    color: rgb(131, 131, 131);
    /*font-size: 17px;*/
}

.btn {
    width: 45%;
    height: 45px;
}


